@font-face {
	font-family: SourceSansPro-Regular;
	src: url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf'); 
}

table
	{
        border-bottom: 1px solid #000;
		border-collapse: collapse;
		width: 100%;
		font-family: SourceSansPro-Regular;
        text-align: center;
		background-color: #ccc;
		border: #fff;
		border-width: 2px;
	}

th 
	{
		padding-top: 12px;
		padding-bottom: 12px;
        text-align: center;
		background-color: #262626;
		color: white;
	}

td 
	{
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000 ;
        border-top: 0px ;
        padding: 8px;	
        
    }
th
    {   
        border: 0px ;
        padding: 8px;
    }

tr:nth-child(even)
	{
        background-color: #e6e6e6;
	}

tr:hover 
	{
		background-color: #bfbfbf;
    }

a 	
	{
        color: #000;
	}